body{
    font-family: 'Fjalla One', sans-serif;
    margin: 0;
    background:#fff;
    color: #fff;
    font-size: 14px!important;
}

.wrapper{
    position: relative;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    background-color: #0099CC;
}

.sidebar{
    width: 270px;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:#1e1e1e;
}

.sidebar.mini{
    width: 70px;
}

.sidebar.mini a{
    font-size: 0;
    color: white;
}

.sidebar .brand-name{
    padding: 14px 20px;
    background:#c37608;
    background:#25221d; 
    color: #fff;

}

.sidebar .brand-name > img{
    height: 40px;
    width: 40px;
    border-radius: 50% ;
}
.sidebar .brand-name .thisuser{
    font-weight: 600;
    font-size: 14px;
    margin-left: 12px;
    margin-right: 5px
}
::-webkit-scrollbar {
    width:5px;
    position: absolute;
    top: 20px;
}
::-webkit-scrollbar-track {
    background: transparent;
    position: absolute;
    top: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background:#f0ad4e;
}
ul{
    list-style-type: none;
    margin: 0;
}
.font-w500{
    font-weight: 500!important;
}
.font-w600{
    font-weight: 600!important;
}
.font-w700{
    font-weight: 700!important;
}

.block{
    display: block!important;
}

.height-300{
    height:300px;
}

.pa-r-10{
    padding-right: 10px!important;
}

.pa-r-20{
    padding-right: 20px!important;
}

.pa-r-30{
    padding-right: 30px!important;
}

.pa-l-10{
    padding-left: 10px!important;
}

.pa-l-20{
    padding-left: 20px!important;
}

.pa-l-30{
    padding-left: 30px!important;
}

.pa-b-10{
    padding-bottom: 10px!important;
}

.pa-b-20{
    padding-bottom: 20px!important;
}

.pa-b-30{
    padding-bottom: 30px!important;
}

.pa-t-10{
    padding-top: 10px!important;
}

.pa-t-20{
    padding-top: 20px!important;
}

.pa-t-30{
    padding-top: 30px!important;
}

.ma-r-10{
    margin-right: 10px!important;
}

.ma-r-20{
    margin-right: 20px!important;
}

.ma-r-30{
    margin-right: 30px!important;
}

.ma-l-10{
    margin-left: 10px!important;
}

.ma-l-20{
    margin-left: 20px!important;
}

.ma-l-30{
    margin-left: 30px!important;
}

.ma-t-10{
    margin-top: 10px!important;
}

.ma-t-20{
    margin-top: 20px!important;
}

.ma-t-30{
    margin-top: 30px!important;
}

.ma-b-10{
    margin-bottom: 10px!important;
}

.ma-b-20{
    margin-bottom: 20px!important;
}

.ma-b-30{
    margin-bottom: 30px!important;
}

.font-upper-case{
    text-transform: uppercase;
}

.block{
    display: block!important;
}

.sidebar .main-menu{
    height: 100vh;
}

.sidebar .main-menu:hover{
    overflow-y: auto;
}

.sidebar .main-menu .menu-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top:20px;
}

.u-menu{
    padding: 10px 15px;
    text-align: center;
}
.u-menu img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.nav-header:first-child{
    background:#507396;
    padding: 10px 15px;
    margin-top: 12px;

}

.sidebar .main-menu .menu-list > li{
    display: block;
}

.sidebar .main-menu .menu-list > li > a{
    text-decoration: none;
    color:#a1a1a1;
    font-weight: 400;
    display: block;
    padding: 15px 20px;
    margin-top: 10px;
    transition: all 0.5s linear;
}

.sidebar .main-menu .menu-list > li >ul >li > a{
    text-decoration: none;
    color: #a1a1a1;
    display: block;
    padding: 10px 60px;
    margin-bottom: 10px;
    transition: all 0.5s linear;
}

.sidebar .main-menu .menu-list .fa-icons{
    padding-right: 20px;
    font-size: 14px;
    color: #a1a1a1;
    font-weight:400;
}

.sidebar .main-menu .menu-list .fa-angle-right {
    float: right;
    font-weight:500;
    color: #a1a1a1;
}

.sidebar .main-menu .menu-list >li.dropdown{
    margin-top: 20px;
}

.sidebar .main-menu .menu-list >li.dropdown  a{
    display: block;
}

.sidebar .main-menu .menu-list >li.dropdown  a:hover{
    color: #fff;
}

.sidebar .main-menu .menu-list >li > a[aria-expanded="true"]{
    background-color: #161616;
}

.sidebar .main-menu .menu-list >li.dropdown ul{
    display: none;
    background-color:#161616;
}

.sidebar .main-menu .menu-list >li.dropdown:hover .collapse{
    display: block;
}

.collapse.in{
    display: none;
}

.hr-light-border{
    opacity: 0.195!important;
}
.no-padding{
    padding: 0!important;
}

.main{
    width: calc(100% - 270px);
    min-height: 100vh;
    background-color: #f0f4f7;
    position: absolute;
    right: 0;
    color:black;
}

.main.mini{
    min-width: calc(100% - 70px);
}

.main-panel{
    padding-right:0px;
    margin-top:10px;
    margin-bottom:30px;
}

.breadcrumb{
    background-color: #fff!important;
    margin-top: 5px;
    border-radius:0!important;
    padding: 8px 0px!important;
    width: 100%;
}

.breadcrumb .breadcrumb-left-panel{
    /* min-width: 100%; */
}

.breadcrumb .breadcrumb-left-panel h1{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 0;

}

.breadcrumb .breadcrumb-right-panel{
    color: #666c71;
    text-align: right;
}

.breadcrumb .breadcrumb-right-panel ol{
    list-style-type: none;
    letter-spacing: 1.5px;
    padding:0;
    margin:0;
}

.breadcrumb .breadcrumb-right-panel ol li{
    display: inline-block;
}

.breadcrumb .breadcrumb-right-panel ol>li + li::before{
    content: "/\00a0";
}

nav{
    line-height:4.5em;
    background-color:#343a40;
    color: #333;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 101;
}

nav .menu-btn-container{
    float: left;
}

nav .nav-menu{
    float: right;
}

nav .nav-menu > ul > li{
    display: inline-block;
    position: relative;
}

nav .nav-menu > ul > li > a{
    padding: 10px 20px;
}

.fa-custom{
    font-family: 'Pe-icon-7-stroke';
    font-size: 22px;
    line-height: inherit;
    outline: none;
    /*color: #757575!important;*/
    color: #fff!important;
    /*color: #99abb4; */
}

ul{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 700;
    line-height: 1.42857143;
    color: inherit;
    margin: 0;
    padding: 0;
}

h1, .h1{
    font-size: 24px;
}

h2, .h2{
    font-size: 22px;
}

h3 , .h3{
    font-size: 20px;
}

h4, .h4{
    font-size: 18px;
}

h5, .h5{
    font-size: 16px;
}

h6{
    font-size: 14px;
}

.border-bottom-lt{
    border-bottom: 1px solid  #F0F0F0 !important;
}

nav .nav-menu .user-menu > a > img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    vertical-align: middle;
}

#chartdiv {
    width: 100%;
    height: 350px;
}

.pie{
    padding: 10px;
    overflow: hidden;
    min-height: 100px;
    background: linear-gradient(skyblue,lightblue)
}

.pie + div{
    background:#8ccfea;
}

.stat-box{
    font-size: 16px;
    overflow: hidden;
}

.stat-chart-box{
    min-height: 370px;
    overflow: hidden;
}

.stat-chart-box > ul > li{
    padding-bottom:20px;
    margin-bottom: 30px;
    border-bottom: 1px solid  #F0F0F0;

}

.stat-chart-box > ul > li  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.stat-chart-box > ul > li >.img-container{
    float: left;
    margin-right: 10px;
}

.stat-chart-box > ul > li >.img-container img{
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

.stat-box-cr{
    min-width: 70%;
}

.stat-box-cl{
    max-width: 30%;
}

.timeline .timeline-item{
    position: relative;
    font-size: 14px;
    padding-bottom:20px;
    width: 100%;
    padding-left:15px;
    color:#878787;
    border-left: 1px solid #1b53a7;
}

.timeline .timeline-item::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    border: 1px solid #1b53a7;
    border-radius: 50%;
    left: -5px;

}

.timeline .timeline-item:last-child::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    border: 1px solid #1b53a7;
    border-radius: 50%;
    color: red;
    bottom: 0px;
    left: -5px;

}

.products-list{
    overflow-x: auto;
}
.products-list > table{
    width: 100%;
    border-collapse: collapse;
}

.products-list > table > thead > tr > th {
    padding:15px;
}

.products-list > table > tbody > tr > td{
    padding:7px 15px;
}

.products-list > table > thead > tr > th{
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    font-weight: bold;
}

.products-list > table > thead > tr, .products-list > table > tbody > tr {
    border-bottom: 1px solid  #F0F0F0;
}

.products-list > table > thead > tr > th{
    text-transform: uppercase;
}

.products-list > table > tbody > tr > td > img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.btn-round{
    border-radius: 20px!important;
}

.btn-outline-orange{
    border: 1px solid #d9534f;
    color: #d9534f;
}

.btn-outline-orange:hover {
    background: #d9534f;
    color: #fff;
}

.btn-outline-green{
    border: 1px solid #00a65a;
    color: #00a65a;
}

.btn-outline-green:hover{
    background: #00a65a;
    color: #fff;
}

.btn-outline-blue{
    border: 1px solid #337ab7;
    color: #337ab7;
}

.btn-outline-blue:hover{
    background: #337ab7;
    color: #fff;
}

.btn-outline-black{
    border: 1px solid black;
    color: #000;
}

.btn-outline-black:hover{
    background:#000;
    color: #fff;
}

.counter{
    font-size: 20px!important;
}

.color-grey{
    color: #878787!important;
}

.color-white{
    color: #fff!important;
}

.color-light-grey{
    color: #D1D1D1!important;
}

/*.color-blue{
color: #337ab7!important;
}*/

.ma-b-30{
    margin-bottom: 30px!important;
}

.float-left{
    float: left!important;
}

.float-right{
    float: right!important;
}

block{
    display: block!important;
}

.label {
    width:16px;
    height: 16px;
    line-height: 1.245;
    position: absolute;
    top: 16px;
    border-radius: 50%;
    font-size: 10px;
    right: 5px;
}

.label-success {
    background-color: #00a65a;
}

.label-warning {
    background-color: #f0ad4e;
}

.label-danger {
    background-color: #d9534f;
}


.expand{
    background: green;
    color: white;
    padding: 50px 0;
}

.card{
    display: inline-block;
    position: relative;
    margin: 10px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 0px;
    color: rgba(0, 0, 0, 0.87);
    background: white;
    color: #666;
    height: 100%;
    width: 100%;
}

.card-content{
    position: relative;
    display: block;
    /* color: #868e96;*/
}

.card-header{
    padding: 15px;
    font-weight: bold;
    color: #555;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
    background: rgba(0,0,0,0.023);
}

.panel-secondary{
    color: #555;
    background: rgba(0,0,0,0.023);
}

.panel-primary{
    color: #fff;
    background-color: #337ab7;
}

.panel-warning{
    color: #fff;
    background-color: #ec971f;
}

.panel-info{
    color: #fff;
    background-color: #5bc0de;
}

.panel-danger{
    color: #fff;
    background-color:#d9534f;
}



.panel-body{
    padding: 15px;
    position: relative;
    display: block;
    color: #868e96;
}

.panel-header{
    padding: 15px;
    font-weight: bold;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;

}

.stat-box{
    color: #fff;
    min-height:8rem;

}

.bg-aqua{
    background-color:#33ccff;
}

.bg-green{
    background-color:#2fa733;
}

.bg-yellow{
    background-color:#e48f16;
}

.bg-red{
    background-color:#d83b3b;
}

.bg-white{
    background-color: #fff;
    color: #111;
}

.stat-box .stat-box-icon{
    width:30%;
    display: block;
    font-size:40px;
    font-weight: bold;
    background: rgba(0,0,0,0.25);
    line-height: 8rem;
    float: left;
    text-align: center;
}
.stat-box .stat-box-content{
    width: 70%;
    float: left;
    padding: 20px;
}


.stat-box .stat-box-content .stat-box-text{
    display: block;
    font-weight: bold;
}

.social-box{
    min-height: 150px;
    padding: 10px ;
    color: #fff;
}

.social-box span:first-child{
    display: block;
    text-align: right;
    padding: 20px;
    font-size: 40px;
}
.social-box span:nth-child(2){
    border: 4px solid;
    width: 40px;
}

.social-box span:nth-child(3){
    padding:0 20px;
    font-weight: bold;
    display: block;
    font-size: 20px;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.social-box span:nth-child(4){
    padding:0 20px;
    font-weight: bold;
    display: block;
    font-size: 20px;
}

.social-widget-header{
    background:#f5a32f;
    padding:10px;
    color: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.social-widget-header .user-image{
    float: left;
    margin-right: 10px;
}

.social-widget-header .user-image img{
    border-radius: 50%;
    width: 65px;
    height: auto;
}

.social-widget-header h3{
    margin: 0;
    margin-bottom: 5px;
    margin-top: 10px;
}

.social-widget-header h4{
    margin: 0;
    margin-bottom: 7px;
}

.social-widget-menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-widget-menu ul li{
    background-color:#fff;
    border-bottom: 1px solid #F5F5F5;
    padding:10px 20px;
    font-size: 14px;
    color: #616161;
}

.social-widget-menu{
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.social-widget-menu span{
    padding:2px 6px;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    float: right;
    font-size: 10px;
}

.social-user-image2{
    position: absolute;
    top: 75px;
    left: 50%;
    margin-left: -45px;
}

.social-user-image2 img{
    border-radius: 50%;
    border: 3px solid #fff;
    width: 40%;
    height: auto;
}
.social-widget-body{
    background:#fff;
    padding:7rem 1rem;
    text-align: center;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.border-right{
    border-right: 1px solid #ddd;
}

.sales{
    text-align: center;
}
.sales h4{
    margin: 0;
    font-size: 16px;
    font-weight: 700
}
.sales span{
    text-transform: uppercase;
}

.card-thumbnail{
    display:flex;
    color: #fff;
    align-items: center;

}
.image-circle-thumbnail{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:1px solid #fff;
    align-items: center;
    justify-content: center;
}

.info-text-box{
    font-size: 18px;
    text-transform: uppercase;
}

.bg-purple{
    background: #663399;
}

.bg-blue{
    background: #1b53a7;
}

.bg-green{
    background: #28a745;
}


.bg-indigo{
    background: #6610f2;
}

.bg-black{
    background: #343a40;
}

.bg-warning{
    background: #ff9800;
}

.bg-orange{
    background: #fd7e14;
}

.chart-thumbnail{
    display:flex;
    flex-direction:column;
}

.chart-thumbnail-info{
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #fff;
}

.chart-thumbnail-info > p{
    font-weight:500;
}

.chart-thumbnail-info > h1{
    font-weight: 400;
    color: #fff;

}

.card-info-box{
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.card-info-info{
    width:50%;
}

.card-info-info h1{
    font-weight: 400;
    color: #000033;
    margin: 0;
    padding: 0;

}

.card-info-icons{
    font-size: 50px;
    color: #1b53a7;
    width: 50%;

}

.card-profile{
    background:#33ccff;
    color:white;
    text-align: center;
    padding: 10px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font-size: 24px;
    font-weight: 500
}

.card-profile h2{
    margin:0px; text-shadow: 0 1px 1px rgba(0,0,0,0.2); font-size: 1em
}

.card-profile-img{
    text-align:center;
    padding:15px 0;
}

.card-profile-img img{
    border: 3px solid #fff;
    border-radius: 50%;
    width:55%; height: auto ;
}

.card-skill{
    text-align: center;
    /*padding:10px 10px 20px;*/
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top: 1px solid #ddd;
}

.card-default{
    background-color: transparent;
    color: #646464;
}

.card-yellow{
    background:#33ccff;
    color:#fff;
}

.card-black{
    background:#33ccff;

    background-color: #262626;
    color:#ccc;
}

.alert{
    font-size: 16px!important;
}

.alert-primary{
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-secondary{
    color: #464a4e;
    background-color: #e7e8ea;
    border-color: #dddfe2;
}

.alert-success{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}
.bold-text{
    font-weight: 700;
}
.small-text{
    font-size: 12px!important;
}

.btn{
    border-radius: 2px;
    padding:10px 30px;
    margin-top: 20px;
}

.btn-t{
    margin:0!important;
    padding:7px 15px!important;
}

.btn-sm{
    padding:7px 30px;
}

.btn-lg{
    padding:15px 30px;
}

.btn-outline-primary{
    color: #1E90FF;
    border-color:#1E90FF;
    background-color: transparent;
}
.btn-outline-secondary{
    color: #808080;
    border-color:#ddd;
    background-color: transparent;
}

.btn-outline-danger{
    color: #DC143C;
    border-color:#FF6347;
    background-color: transparent;
}

.btn-outline-success{
    color: #1e7e34;
    border-color:#1c7430;
    background-color: transparent;
}

.btn-outline-info{
    color: #117a8b;
    border-color:#10707f;
    background-color: transparent;
}

.btn-outline-warning{
    color: #f0ad4e;
    border-color:#f0ad4e;
    background-color: transparent;
}

.btn-outline-warning:hover{
    background-color: #f0ad4e;
    color: #fff;
}
.btn-outline-primary:hover{
    background-color: #1E90FF;
    color: #fff;
}
.btn-outline-secondary:hover{
    background-color: #808080;
    color: #fff;
}

.btn-outline-danger:hover{
    background-color: #DC143C;
    color: #fff;
}

.btn-outline-success:hover{
    background-color: #1e7e34;
    color: #fff;
}

.btn-outline-info:hover{
    background-color: #117a8b;
    color: #fff;
}

.btn-dark{
    background-color:#49504b;
    border-color:#49504b;
    color: #fff;
}
.btn-dark:hover{
    color: #FFF3CD;
}

.btn[disabled="disabled"]{
    opacity: 0.5;
    cursor: none;
}

.control-label{
    color: #484848;
    text-transform: capitalize;
}

.form-control{
    border: 1px solid rgba(33,33,33,0.2) ;
    border-radius: 0px;
    box-shadow:none;
    height: 43px;
}

.ma-0{
    margin: 0;
}

.table>thead>tr>th, .table>tbody>tr>td{
    padding: 16px;
}

.table-hover>tbody>tr:hover{
    background: rgba(0,0,0,0.023);

}

.checkbox label:before {
    border-radius: 0;
    width: 18px;
    height: 18px;
}

.checkbox{
    padding-top:5px;
    padding-bottom: 5px;
    margin: 0;
    border-radius: 0;
    margin-bottom: 10px;
}

.switchery{
    margin-right: 10px;
    margin-top: 15px;
}

footer{
    background-color: #fff;
    border-top: 1px solid #DAE2EA;
    padding: 15px 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

}

.modal{
    display:none;
    z-index: 1050;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation-name: fadeIn;
    animation-duration: 0.4s;
    text-align: left ;
    overflow: hidden;
    box-shadow: none;
}

.modal-content{
    width: 800px;
    position: relative;
    margin:40px auto;
    color: #6f6c68;
    animation-name: slideIn;
    animation-duration: 2s;
    border-radius: 5px;
    webkit-box-shadow: 0 0px 0px rgba(0,0,0,0.125);
    box-shadow: 0 0px 0px rgba(0,0,0,0.125);
    border: none;
}

.modal-header{
    padding: 15px;
}

.modal-close{
    font-size: 18px;
    font-weight: bold;
    float: right;
    cursor: pointer;
    color: #aaa;
}

.modal-header h1{
    margin: 0;
    font-size: 1.25em;
    font-weight: bold;
    padding: 0;
}
.modal-body{
    padding: 15px;
}

.modal-footer{
    text-align: right;
    padding: 15px;
}

.card-widget{
    text-align: center;
    margin-top:40px;
}

.card-widget .round-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.card-widget .card-widget-text{
    margin-top: 30px;
}

.card-widget .learn-more{
    margin-top: 30px;
    margin-bottom: 10px;
    color: #3f51b5;
}

.color-blue{
    color: #3f51b5;
}

.card-content-no-padding{

}

.card-widget-flat-info{
    padding: 10px;
    margin-top: 60px;

}

.card-widget-normal-image .normal-img{
    width: 100%;
    height:200px;
    background-image: url(../../images/contemplative-reptile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    position: relative;

}

.card-widget-normal-image .normal-img::before{
    display: block;
    content: "";
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.card-widget-normal-image .round-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translateY(40px);

}

.card-widget-normal-info .card-widget-text{
    margin-top: 30px;
}

.card-widget-normal-info .learn-more{
    margin-top: 30px;
    margin-bottom: 10px;
    color: #3f51b5;
}

.social-icons a{
    margin-right: 10px;
}

.card-widget-flat-image .normal-img{
    width: 100%;
    height:150px;
    margin-bottom: 30px;
    background-image: url(../../images/contemplative-reptile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    background-position:center;
    position: relative;
    text-align: center;
}

.card-widget-flat-image .normal-img::before{
    display: block;
    content: "";
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.card-widget-flat-image .normal-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translateY(100px);

}

.card-widget-text{
    margin-top: 30px;
}

.card-widget-flat-info .learn-more{

    color: #3f51b5;
}

.card-widget-flat .social-icons{

    color: #3f51b5;
}

.card-widget-flat .social-icons a{
    margin-right: 10px;
}

.widget-top-box{
    min-height: 200px;
    /* background-color: #557898; */
    background-color: #1b53a7;
}

.widget-top-info{
    color: #fff;

}

.text-muted{
    color: #868e96!important;
}

.text-ex-muted{
    color: #e3e3e3!important;
}

.text-ee-muted{
    color: #d1d1d1!important;
}

.text-normal{
    color: #000;
}

.list-img{
    width:80px;
    height:auto;
    margin-right: 15px;
    margin-bottom: 20px;

}
.li-circle-msg{
    position: absolute;
    right: 20px; top: 10px;
    height: 15px ;
    width: 15px;
    background: #CC6600;
    border-radius: 50%;
    color:#fff;
    text-align: center;
    font-size: 12px
}

.list-img img{
    width: 100%;
    height: auto;
}

.card-box{
    position: relative;
}

.fa-ellipsis-right{
    position: absolute;
    right: 20px;
}

@media only screen and (max-width:640px){

    .sidebar{
        display: block;
        width: 100%;
        height: auto;
        display: none;
        background: rgba(0,0,0,0.4);
    }

    .list-img{
        width:120px;
        margin-right: 15px;
    }

    .sidebar.mobile{
        width: 100%;
        display: block;
        float: left;
        height: 100vh;
        font-size: 14px;
        z-index: 9;
    }

    .nav-container{
        width:300px;
        background-color:#1e1e1e;
    }

    .sidebar.mini a {
        font-size: 14px;
        color: white;
    }

    .main{
        width: 100%;
    }

    .sidebar .brand-box{
        padding:10px 0px;
        text-align: center;
        letter-spacing: 1px;
        font-weight: lighter;
    }

    .sidebar .brand-box a{
        display: inline-block;
        font-size: 18px;
    }

    .sidebar .brand-box .bar-mini{
        float: right;
    }

    .breadcrumb .breadcrumb-right-panel{
        text-align: left;
        padding: 5px 3px;
        margin-right: 15px;
        margin-left: 15px;
        font-size: 12px!important;
    }

    .breadcrumb .breadcrumb-left-panel{
        width: 100%;
    }

    nav .nav-menu ul{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    nav .nav-menu ul li a:not(last-child){
        padding:0;
        padding-right: 20px;
        padding-left: 20px;
    }

    .modal-content{
        position: relative;
        width: auto;
        margin: 10px;
    }

}




